* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    font-size: 36px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
 
div {
    /* background-color: lime; */
}
 
p {
    /* background-color: gold; */
}
 
span {
    /* background-color: tomato; */
}
